{{!

	FOOTER
	- Configuration of this file is not required.

}}

	<footer>
		<div class="wrapper">
			<div class="copyright">
				&copy; {{date format="YYYY"}} Brave Software Inc. All Rights Reserved.<br>
			</div>
			<div class="sociallinks"></div>
		</div>
	</footer>

	<a href="#top" class="backtotop"><i class="fa fa-chevron-up"></i></a>
