{% extends "base.html" %}

{% block title %}Brave Software | About{% endblock %}

{% block mainContent %}


      <div class="page" id="about-page">
        <h1 class="fixed-page-heading invert container">About Brave</h1>
        <section>
            <div class="container">
                <ul class="page-submenu">
                   <li>
                        <a href="#assets">Media Assets</a>
                    </li>
                    <li>
                        <a href="#team">Team</a>
                    </li>
                    <li>
                        <a href="#press">Press</a>
                    </li>
                    <li>
                        <a href="#overview">Overview</a>
                    </li>

                </ul>
            </div>

            <!--  Overview Section -->
            <div id="overview" class="title-v1 container">
                <h2>We have a mission to save the web by increasing browsing speed and safety for users, while growing ad revenue share for content creators.</h2>
                <p>The web has become a different place. With the ad-tech ecosystem out of control, users have revolted and blocking ads has become the new weapon of choice. But this results in a race to the bottom where nobody wins. Without the ability for content creators to earn money for their efforts, they may need to shut down or find a new source of revenue. Users could be left with nowhere to browse, relegated to hand-picked content from controlled sources.</p>
                <p>Brave is saving the web by building a new suite of cutting-edge web browsers that feature class leading speed, security and protection, plus a new ad revenue sharing solution to help keep publishers in business.</p>
            </div>
            <hr>
            <!--  Press Section -->
            <div id="press" class="container">
                <div class="title-v1">
                    <h2>Press Mentions</h2>
                </div>
                <nav class="press-carousel-controls">
                    <div role="control" class="arrow">&larr;</div>
                    <div role="control" class="arrow">&rarr;</div>
                </nav>
                <ul id="press-carousel" class="container">
                    <li class="active">
                        <ul>
                            <li>
                                <article>
                                    <div role="content-info">January 20, 2016</div>
                                    <a href="https://www.forbes.com/sites/roberthof/2016/01/20/brave-softwares-new-browser-nukes-ads-that-track-you/#2715e4857a0b630d5bad76b9" target="_blank">Brave Software's New Browser Nukes Ads That Track You</a>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <div role="content-info">January 20, 2016</div>
                                    <a href="https://www.techcrunch.com/2016/01/20/with-brave-software-javascripts-inventor-is-building-a-browser-for-the-ad-blocked-future/" target="_blank">With Brave Software, JavaScript’s Creator Is Building A Browser For The Ad-Blocked Future</a>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <div role="content-info">January 20, 2016</div>
                                    <a href="https://www.mediapost.com/publications/article/267089/new-browser-offers-brave-solution-to-ad-blocking.html" target="_blank">New Browser Offers 'Brave' Solution To Ad Blocking, Literally: Will Cut Users And Publishers In</a>
                                </article>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>
                                <article>
                                    <div role="content-info">January 20, 2016</div>
                                    <a href="https://www.businessinsider.com/former-mozilla-ceo-brendan-eich-launches-ad-blocking-web-browser-brave-2016-1?r=UK&IR=T" target="_blank">The former CEO of Mozilla is launching a web browser that blocks all ads by default</a>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <div role="content-info">January 20, 2016</div>
                                    <a href="https://www.cnet.com/news/ex-mozilla-ceo-try-braves-new-browser-for-a-faster-private-web/" target="_blank">Brave browser promises faster Web by banishing intrusive ads</a>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <div role="content-info">January 20, 2016</div>
                                    <a href="https://venturebeat.com/2016/01/20/brave-browser/" target="_blank">Mozilla cofounder Brendan Eich’s startup, Brave, launches browser for Mac, Windows, iOS, Android</a>
                                </article>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <hr>

            <!--  Team Section -->
            <div id="team" class="team-v1">
                <div class="title-v1">
                    <h2>Introducing Team Brave...</h2>
                    <p>A seasoned set of experts in their field, with the passion to save the web. </p>
                </div>
                <ul class="team-container container">
                    <li>
                        <div class="team-img">
                            <img src="assets/img/team/brendan.jpg" alt="">
                            <ul>
                                <li><a href="https://twitter.com/BrendanEich" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                                <li><a href="https://brendaneich.com/" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-globe"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/brendaneich" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-linkedin-square"></i></a></li>
                            </ul>
                        </div>
                        <h3>Brendan Eich</h3>
                        <h4>Founder, President and CEO</h4>
                        <ul class="visible-xs-block">
                            <li><a href="https://twitter.com/BrendanEich" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                            <li><a href="https://brendaneich.com/" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-globe"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/brendaneich" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="team-img">
                            <img src="assets/img/team/brianb.jpg" alt="">
                            <ul>
                                <li><a href="https://twitter.com/brianbondy" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                                <li><a href="https://www.brianbondy.com" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-globe"></i></a></li>
                                <li><a href="https://github.com/bbondy/" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-github"></i></a></li>
                            </ul>
                        </div>
                        <h3>Brian Bondy</h3>
                        <h4>Co-Founder and Lead Developer</h4>
                        <ul class="visible-xs-block">
                            <li><a href="https://twitter.com/brianbondy" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                            <li><a href="https://www.brianbondy.com" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-globe"></i></a></li>
                            <li><a href="https://github.com/bbondy/" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-github"></i></a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="team-img">
                            <img src="assets/img/team/brad.jpg" alt="">
                            <ul>
                                <li><a href="http://www.bradrichter.co" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-globe"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/richterbrad" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-linkedin-square"></i></a></li>
                                <li><a href="https://github.com/bradleyrichter" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-github"></i></a></li>
                            </ul>
                        </div>
                        <h3>Brad Richter</h3>
                        <h4>Head of Design</h4>
                        <ul class="visible-xs-block">
                            <li><a href="http://www.bradrichter.co" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-globe"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/richterbrad" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-linkedin-square"></i></a></li>
                            <li><a href="https://github.com/bradleyrichter" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-github"></i></a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="team-img">
                            <img src="assets/img/team/elissa.jpg" alt="">
                            <ul>
                                <li><a href="https://twitter.com/ElissaBeth" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                                <li><a href="https://elissashevinsky.com/" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-globe"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/elissashevinsky" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-linkedin-square"></i></a></li>
                            </ul>
                        </div>
                        <h3>Elissa Shevinsky</h3>
                        <h4>Head of Product</h4>
                        <ul class="visible-xs-block">
                            <li><a href="https://twitter.com/ElissaBeth" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                            <li><a href="https://elissashevinsky.com/" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-globe"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/elissashevinsky" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="team-img">
                            <img src="assets/img/team/marshall.jpg" alt="">
                            <ul>
                                <li><a href="https://twitter.com/_mtr" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                                <li><a href="https://en.wikipedia.org/wiki/Marshall_Rose" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-globe"></i></a></li>
                                <li><a href="https://github.com/mrose17" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-github"></i></a></li>
                            </ul>
                        </div>
                        <h3>Marshall Rose</h3>
                        <h4>Senior Software Engineer, Cloud Data</h4>
                        <ul class="visible-xs-block">
                            <li><a href="https://twitter.com/_mtr" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                            <li><a href="https://en.wikipedia.org/wiki/Marshall_Rose" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-globe"></i></a></li>
                            <li><a href="https://github.com/mrose17" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-github"></i></a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="team-img">
                            <img src="assets/img/team/garvan2.jpg" alt="">
                            <ul>
                                <li><a href="https://twitter.com/garvankeeley" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                                <li><a href="https://github.com/garvankeeley" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-github"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/garvan-keeley-803256" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-linkedin-square"></i></a></li>
                            </ul>
                        </div>
                        <h3>Garvan Keeley</h3>
                        <h4>Senior Software Engineer, iOS</h4>
                        <ul class="visible-xs-block">
                            <li><a href="https://twitter.com/garvankeeley" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                            <li><a href="https://github.com/garvankeeley" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-github"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/garvan-keeley-803256" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="team-img">
                            <img src="assets/img/team/aubrey.jpg" alt="">
                            <ul>
                                <li><a href="https://twitter.com/aekeus" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                                <li><a href="https://narrativeforms.com/" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-globe"></i></a></li>
                                <li><a href="https://github.com/aekeus" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-github"></i></a></li>
                            </ul>
                        </div>
                        <h3>Aubrey Keus</h3>
                        <h4>Senior Software Engineer, Apps</h4>
                        <ul class="visible-xs-block">
                            <li><a href="https://twitter.com/aekeus" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                            <li><a href="https://narrativeforms.com/" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-globe"></i></a></li>
                            <li><a href="https://github.com/aekeus" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-github"></i></a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="team-img">
                            <img src="assets/img/team/serg.jpg" alt="">
                            <ul>
                                <li><a href="https://twitter.com/SergZh_" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                                <li><a href="https://github.com/SergeyZhukovsky/" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-github"></i></a></li>
                            </ul>
                        </div>
                        <h3>Sergey Zhukovsky</h3>
                        <h4>Senior Software Engineer, Android</h4>
                        <ul class="visible-xs-block">
                            <li><a href="https://twitter.com/SergZh_" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                            <li><a href="https://github.com/SergeyZhukovsky/" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-github"></i></a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="team-img">
                            <img src="assets/img/team/brianj.jpg" alt="">
                            <ul>
                                <li><a href="https://github.com/bridiver" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-github"></i></a></li>
                                <li><a href="https://bridiver.blogspot.ca/" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-globe"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/brian-johnson-aaa11018" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-linkedin-square"></i></a></li>
                            </ul>
                        </div>
                        <h3>Brian Johnson</h3>
                        <h4>Senior Software Engineer, Privacy/Ad Tech</h4>
                        <ul class="visible-xs-block">
                            <li><a href="https://github.com/bridiver" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-github"></i></a></li>
                            <li><a href="https://bridiver.blogspot.ca/" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-globe"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/brian-johnson-aaa11018" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="team-img">
                            <img src="assets/img/team/yan.jpg" alt="">
                            <ul>
                                <li><a href="https://twitter.com/bcrypt" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                                <li><a href="https://zyan.scripts.mit.edu/blog/" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-globe"></i></a></li>
                                <li><a href="https://github.com/diracdeltas" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-github"></i></a></li>
                            </ul>
                        </div>
                        <h3>Yan Zhu</h3>
                        <h4>Senior Software Engineer, Privacy/Security</h4>
                        <ul class="visible-xs-block">
                            <li><a href="https://twitter.com/bcrypt" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                            <li><a href="https://zyan.scripts.mit.edu/blog/" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-globe"></i></a></li>
                            <li><a href="https://github.com/diracdeltas" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-github"></i></a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>

            <!--  Assets Download Section -->
            <div id="assets" class="team-v1">
                <div class="title-v1">
                    <h2>Media Assets</h2>
                    <p>Download our logos and press images.</p>
                </div>
                <ul class="assets-container container">
                    <li>
                        <div class="team-img">
                            <img src="assets/img/press/brave_logo_horz_whtBG_600x.png" alt="Brave Logo: Horizonal">
                            <ul>
                                <li>
                                    <a href="assets/img/press/brave_logos_horizontal.zip" target="_blank">
                                        <i class="icon-custom icon-sm rounded-x">ZIP</i>
                                    </a>
                                </li>
                                <li>
                                    <a href="assets/img/press/brave_logo_horz.png" target="_blank">
                                        <i class="icon-custom icon-sm rounded-x">PNG</i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <h4>Brave Logo: Horizonal</h4>
                        <ul class="visible-xs-block">
                            <li>
                                <a href="assets/img/press/brave_logos_horizontal.zip" target="_blank">
                                    <i class="icon-custom icon-sm rounded-x">ZIP</i>
                                </a>
                            </li>
                            <li>
                                <a href="assets/img/press/brave_logo_horz.png" target="_blank">
                                    <i class="icon-custom icon-sm rounded-x">PNG</i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="team-img">
                            <img src="assets/img/press/brave_logo_stacked_whtBG_600x.png" alt="Brave Logo: Stacked">
                            <ul>
                                <li>
                                    <a href="assets/img/press/brave_logos_stacked.zip" target="_blank">
                                        <i class="icon-custom icon-sm rounded-x">ZIP</i>
                                    </a>
                                </li>
                                <li>
                                    <a href="assets/img/press/brave_logo_stacked.png" target="_blank">
                                        <i class="icon-custom icon-sm rounded-x">PNG</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <h4>Brave Logo: Stacked</h4>
                        <ul class="visible-xs-block">
                            <li>
                                <a href="assets/img/press/brave_logos_stacked.zip" target="_blank">
                                    <i class="icon-custom icon-sm rounded-x">ZIP</i>
                                </a>
                            </li>
                            <li>
                                <a href="assets/img/press/brave_logo_stacked.png" target="_blank">
                                    <i class="icon-custom icon-sm rounded-x">PNG</i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="team-img">
                            <img src="assets/img/press/brave_icon_600x.png" alt="Brave Icon">
                            <ul>
                                <li>
                                    <a href="assets/img/press/brave_icons.zip" target="_blank">
                                        <i class="icon-custom icon-sm rounded-x">ZIP</i>
                                    </a>
                                </li>
                                <li>
                                    <a href="assets/img/press/brave_icon_shadow_300px.png" target="_blank">
                                        <i class="icon-custom icon-sm rounded-x">PNG</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <h4>Brave Icon</h4>
                        <ul class="visible-xs-block">
                            <li>
                                <a href="assets/img/press/brave_icons.zip" target="_blank">
                                    <i class="icon-custom icon-sm rounded-x">ZIP</i>
                                </a>
                            </li>
                            <li>
                                <a href="assets/img/press/brave_icon_shadow_300px.png" target="_blank">
                                    <i class="icon-custom icon-sm rounded-x">PNG</i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <div class="team-img">
                            <img src="assets/img/press/brave_infographic_thumb.png" alt="Brave Browser for Desktops and Laptops">
                            <ul>
                                <li>
                                    <a href="assets/img/press/brave_infographic_large.png" target="_blank">
                                        <i class="icon-custom icon-sm rounded-x">PNG</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <h4>Brave User Paths infographic</h4>
                        <ul class="visible-xs-block">
                            <li>
                                <a href="assets/img/press/brave_infographic_large.png" target="_blank">
                                    <i class="icon-custom icon-sm rounded-x">PNG</i>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
                <div class="clear"></div>
            </div>
        </section>
    </div>




{% endblock %}