{% extends "base.html" %}

{% block title %}Brave Software | Brave's Response to the NAA{% endblock %}

{% block mainContent %}

    <!--=== Content Part ===-->
       <!-- Begin Content -->
   <div class="page container content-md">
        <div class="row">
            <div class="col-sm-5 sm-margin-bottom-20">
                <p><img class="img-responsive" src="assets/img/team/brendan_couch.jpg" alt="Brendan Eich"></p>
                <hr>
                <div class="news">
                    <ul class="list-inline posted-info">
                        <li>
                            <a href="blogpost_4.html">
                                <strong>April 7, 2016</strong><br>
                                Brave's Response to the NAA: A Better Deal for Publishers<br>
                            </a>
                        </li>
                        <li>
                            <a href="blogpost_3.html">
                                <strong>March 31, 2016</strong><br>
                                Brave's Payment Spec Out for Developer Input<br>
                                By Marshall T. Rose and Brendan Eich<br>
                            </a>
                        </li>
                        <li>
                            <a href="blogpost_2.html">
                                <strong>January 27, 2016</strong><br>
                                How Brave Works For You<br>
                                By Brendan Eich<br>
                            </a>
                        </li>
                        <li>
                            <a href="blogpost_1.html">
                                <strong>January 20, 2016</strong><br>
                                How to Fix the Web<br>
                                By Brendan Eich<br>
                            </a>
                        </li>
                    </ul>
               </div>
            </div>
            <div class="col-sm-7 news-v3 blogpost">
                <div class="news-v3-in-sm no-padding">
                    <ul class="list-inline posted-info">
                        <li>Brave Software</li>
                        <li>Posted April 7, 2016</li>
                    </ul>
                    <h2>Brave's Response to the NAA: A Better Deal for Publishers</h2>
                    <p>The NAA has sent a <a href="http://www.naa.org/News-and-Media/Press-Center/Archives/2016/Digital-Ad-Substitution-Illegal.aspx">letter</a> to Brave Software filled with false assertions, indicating that they have fundamentally misunderstood Brave. Here are a few misconceptions we’d like to clear up:</p>
                    <ol>
                        <li>Brave is not, as the NAA asserts, “replac[ing] publishers' ads on the publishers' own websites and mobile applications with Brave's own advertising.” We do not tamper with any first-party publisher content, including native ads that do not use third-party tracking.</li>
                        <li>Brave is not trying to steal the “profits” from publishers as the NAA asserts. Here again, the NAA has fundamentally misconstrued what Brave does. Brave is building a better ad network with a bespoke browser tied anonymously to the network. We will actually pay the publishers more of the revenue shared through our system than <a href="http://www.iab.net/media/file/PwC_IAB_Programmatic_Study.pdf">most websites are getting now from third-party ads</a>.</li>
                        <li>The letter falsely asserts that Brave will share an "unspecified percentage of revenue", when our revenue share split has been <a href="https://brave.com/blogpost_2.html">public and fixed from our first preview release in January</a>.
                          <img src="assets/blog_images/image03.png" class="img-responsive">
                          We give the lion's share (pun intended) to websites. With our ad-share model, the default money flow directs up to 70% of ad revenue to site publishers  – far greater than the average percentage in the current programmatic display ad ecosystem. Brave keeps 15%, and allows the end-user to choose whether to donate or keep their 15% share. Keeping their share still results in 55% ad rev share to site owners – beating the current average of 45%.

                            Take a look at our Brave User Paths from Browsing to Ad Rev sharing:
                                <p><a href="assets/blog_images/brave_infographic_large.png" target="_blank"> <img class="img-responsive" src="assets/blog_images/brave_infographic_large.png" alt=""></a></p>

                        </li>
                        <li>The news industry is in catastrophic decline and has been for years. Brave has a model to change this <a href="http://mjperry.blogspot.com/2012/02/newspaper-ad-revenues-fall-to-50-year.html">dire trend</a> by both funneling more ad revenue to publishers and allowing users to pay them directly:
                          <img src="assets/blog_images/image01.png" class="img-responsive">
                        </li>
                        <li><a href="http://www.mercurynews.com/ci_18524333">Abusive</a>, excessive, and even dangerous online advertising is driving users to adopt ad blockers <a href="http://digiday.com/publishers/global-rise-ad-blocking-4-charts/">en masse</a>, and this is a trend that will not be reversed by legal threats, server-side anti-blocker countermeasures, or harsh language. We note that malware <a href="https://www.theguardian.com/technology/2016/mar/16/major-sites-new-york-times-bbc-ransomware-malvertising">has been distributed</a> on the websites of the New York Times and the BBC recently through the ill-designed, unregulated, and poorly-delegated third-party advertising technology ecosystem.
                          <img src="assets/blog_images/image02.png" class="img-responsive">
                        </li>
                    </ol>
                    <p>In sum, and contrary to the misstatements of the NAA letter, Brave is the solution, not the problem, for users and publishers. We provide speed, privacy, protection from malware, and a new, anonymous payment model that helps the whole industry and publishers in particular, compared to the status quo.</p>
                    <p>The privacy point is overlooked in the NAA’s attack on Brave and worth emphasizing. The <a href="http://www.wsj.com/articles/SB10001424052748703748904575411682714389888">violation of individual privacy</a> has reached epidemic proportions. The news industry has been an active participant in violating individual readers’ privacy by benefitting from non-consensual third party tracking and ads. Here is the before vs. after Ghostery tracking graph for just one popular site:</p>
                    <img src="assets/blog_images/image00.png" class="img-responsive">
                    <p>News industry leaders rightly decry the violation of privacy inherent in some NSA or FBI tactics, yet their own complicity in tracking individuals to even more invasive degrees is not addressed.</p>

                    <p>Furthermore, the NAA's letter misconstrues how Web standards and browsers work by design: the Web is a system that allows users to consume content in any combination and presentation that user-chosen software can achieve. Browsers do not "republish", copy, serve, syndicate, or distribute content across the Internet or to any computer other than the one on which they run.</p>

                    <p>Browsers do not just play back recorded pixels from the publishers’ sites. Browsers are rather the end-user agent that mediates and combines all the pieces of content, including third-party ads and first-party publisher news stories. Web content is published as HTML markup documents with the express intent of not specifying how that content is actually presented to the browser user. Browsers are free to ignore, rearrange, mash-up and otherwise make use of any content from any source.</p>

                    <p>If it were the case that Brave's browsers perform "republication", then so too does Safari's Reader mode. The same goes for any browser with an ad-blocker extension installed, or the Links text-only browser, or screen readers for the visually impaired.</p>

                    <p>Make no mistake: this NAA letter is the first shot fired in a war on all ad-blockers, not just on Brave. Though the NAA never reached out to us before firing this shot, we would be happy to sit down with them for an opportunity to discuss how the Brave solution can be a win-win for our users and the publishers they browse. We will fight alongside all citizens of the Internet who deserve and demand a better deal than they are getting from today's increasingly abusive approach to Web advertising.</p>

                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->

{% endblock %}
