{% extends "base.html" %}

{% block title %}Brave Software | How to Fix the Web{% endblock %}

{% block mainContent %}

    <!--=== Content Part ===-->
    <!-- Begin Content -->
    <div class="page container content-md">
        <div class="row">
            <div class="col-sm-5 sm-margin-bottom-20">
                <p><img class="img-responsive" src="assets/img/team/brendan_couch.jpg" alt="Brendan Eich"></p>
                <hr>
                <div class="news">
                    <ul class="list-inline posted-info">
                        <li>
                            <a href="blogpost_5.html">
                                <strong>April 8, 2016</strong><br>
                                #BeBraveDay<br>
                            </a>
                        </li>
                        <li>
                            <a href="blogpost_4.html">
                                <strong>April 7, 2016</strong><br>
                                Brave's Response to the NAA: A Better Deal for Publishers<br>
                            </a>
                        </li>
                        <li>
                            <a href="blogpost_3.html">
                                <strong>March 31, 2016</strong><br>
                                Brave's Payment Spec Out for Developer Input<br>
                                By Marshall T. Rose and Brendan Eich<br>
                            </a>
                        </li>
                        <li>
                            <a href="blogpost_2.html">
                                <strong>January 27, 2016</strong><br>
                                How Brave Works For You<br>
                                By Brendan Eich<br>
                            </a>
                        </li>
                        <li>
                            <a href="blogpost_1.html">
                                <strong>January 20, 2016</strong><br>
                                How to Fix the Web<br>
                                By Brendan Eich<br>
                            </a>
                        </li>
                    </ul>
               </div>
            </div>
            <div class="col-sm-7 news-v3">
                <div class="news-v3-in-sm no-padding">
                    <ul class="list-inline posted-info">
                        <li>Brave Software</li>
                        <li>Posted April 8, 2016</li>
                    </ul>
                    <h2>#BeBraveDay</h2>
                    <p>We've been busy at Brave building a solution designed to give users and publishers the fair deal they deserve on the Web. Today we're releasing our 0.9 developer version, which delivers what thousands have been asking for: the beginning of support for Chrome extensions with 1Password support, to help users better manage their security and privacy. Other password managers will follow soon. Another notable feature is the capacity to block phishing and malware, to make sure our users don't get hacked by dangerous domains. We are also introducing defenses against browser fingerprinting.</p>
                    <p>We've added these features because browsing the Web should be fast AND safe, and because users deserve to be in control of their data. Users are increasingly reacting to being treated like products, weary of being analyzed, surveyed, and monetized for the profit of third parties. Being a customer should not be equated to being a product. The problem is not with advertising per se (users want to support their favorite sites and agree with ads done right), but rather with tracking, profile building, and general overload. They especially don't like it when large companies map together their online behavior and offline behavior. We're hearing this across the globe, and so today is #BeBraveDay for many Brave Squads throughout the world, for pioneering groups that have sprouted to embody and uphold what being Brave on the Web really means.</p>
                    <p>From Miami to Indonesia, from Brazil to India, Brave meetups are happening today with supporters and dedicated volunteers who recognize that it's never too late or impossible to make a change to a system. We hope that these will be the first of many, and we would love to work with more community leaders in more cities. Follow their events and hackathons on Twitter and Instagram with the hashtag #BeBraveDay. Or contact us on Twitter or via email at info@brave.com to request to start a Brave meetup in your city.</p>
                    <p>We thank our amazing users, community, and contributors. Be Brave!</p>
                    <p>The Brave Team</p>
                    <div class="blog-disclaimer">
                        <p>Here are some groups that are organizing events for #BeBraveDay:</p>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/IndoBrave/" target="_blank">www.facebook.com/IndoBrave/</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/bebraveindia/" target="_blank">www.facebook.com/bebraveindia/</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/MalaysiaBrave/?fref=ts" target="_blank">www.facebook.com/MalaysiaBrave/?fref=ts</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/BraveSquadMiami/?fref=ts" target="_blank">www.facebook.com/BraveSquadMiami/?fref=ts</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/BraveSquadMexico/?fref=ts" target="_blank">www.facebook.com/BraveSquadMexico/?fref=ts</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/Brave-Women-Squad-1729616723988634/?fref=ts" target="_blank">www.facebook.com/Brave-Women-Squad-1729616723988634/?fref=ts</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/Brave-Squad-Colombia-1691950584380806/?fref=ts" target="_blank">www.facebook.com/Brave-Squad-Colombia-1691950584380806/?fref=ts</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/groups/BraveBrazil/" target="_blank">www.facebook.com/groups/BraveBrazil/</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/Brave-S%C3%A3o-Paulo-1592385104418550/" target="_blank">www.facebook.com/Brave-S%C3%A3o-Paulo-1592385104418550/</a>
                            </li>
                            <li>
                                <a href="https://www.meetup.com/Orlando-Brave-Meetup/" target="_blank">www.meetup.com/Orlando-Brave-Meetup/</a>
                            </li>
                            <li>
                                <a href="https://www.meetup.com/Gujarat-Brave-Meetup/" target="_blank">www.meetup.com/Gujarat-Brave-Meetup/</a>
                            </li>
                            <li>
                                <a href="https://www.meetup.com/BraveKualaLumpur/" target="_blank">www.meetup.com/BraveKualaLumpur/</a>
                            </li>
                            <li>
                                <a href="https://www.meetup.com/Bekasi-Brave-Meetup/" target="_blank">www.meetup.com/Bekasi-Brave-Meetup/</a>
                            </li>
                        </ul>
                        <hr>
                        <p>If you're a developer, please check out <a href="https://github.com/brave/browser-laptop/issues" target="_blank">https://github.com/brave/browser-laptop/issues</a> to see where you can contribute.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
