{% extends "base.html" %}

{% block title %}Brave Software | Downloads{% endblock %}

{% block mainContent %}

      <div class="page" id="downloads-page">
        <div class="container">
            <ul class="page-submenu">
                <li>
                    <a href="#android">Android</a>

                </li>
                <li>
                    <a href="#ios">iOS</a>
                </li>
                <li>
                    <a href="#linux">Linux</a>
                </li>
                <li>
                    <a href="#mac">Mac</a>
                </li>
                <li>
                    <a href="#windows">Windows</a>
                </li>
            </ul>
        </div>
        <!--=== Container Part ===-->
        <div id="windows" class="container content-sm">
            <div class="title-v1">
                <h2>Download Brave for Your Device</h2>
            </div>
            <!--=== Windows download ===-->
            <div class="row">
                <div class="col-md-6 md-margin-bottom-50">
                    <img class="img-responsive" src="assets/img/contents/win_surface_braved.jpg" alt="" width="400">
                </div>
                <div class="col-md-6">
                    <div class="headline-left margin-bottom-30">
                        <img class="responsive"  src="assets/img/contents/windows10-compatible.png" alt="" width="60">
                        <h2 class="headline-brd">Brave 0.9.dev for Windows 7+</h2>
                        <p>Windows users require either i32 or x64 versions. To find out which version you need, Right-click My Computer, and then click Properties. If "x64 Edition" is listed under System, your processor is capable of running a 64-bit version of Windows. If not, use the 32-bit version.</p>
                    </div>
    <!--
                    <ul class="list-unstyled lists-v2 margin-bottom-30">
                        <li><i class="fa fa-check"></i> Requires 300mb of free space</li>
                        <li><i class="fa fa-check"></i> 1gb memory</li>
                        <li><i class="fa fa-check"></i> 1ghz processor</li>
                        <li><i class="fa fa-check"></i> Access to the internet</li>
                    </ul>
    -->
                    <a href="https://laptop-updates.brave.com/latest/winia32" class="btn cta-button pull-left">Download Brave for 32-bit</a>
                    <a href="https://laptop-updates.brave.com/latest/winx64" class="btn cta-button pull-left">Download Brave for 64-bit</a>
                </div><!--/end row-->
            </div>
        </div>
        <hr>
        <!--=== End Container Part ===-->

        <!--=== Mac download ===-->
        <div id="mac" class="container content-sm">
            <div class="row">
                <div class="col-md-6 md-margin-bottom-50">
                    <img class="img-responsive" src="assets/img/contents/mackbook_braved.jpg" alt="" width="400">
                </div>
                <div class="col-md-6">
                    <div class="headline-left margin-bottom-30">
                        <img class="responsive"  src="assets/img/contents/MacOS_large.svg" alt="" width="60">
                        <h2 class="headline-brd">Brave 0.9.dev for Mac OS</h2>
                        <p>To run Brave, you must have Mac OS 10.9 or newer.</p>
                    </div>
    <!--
                    <ul class="list-unstyled lists-v2 margin-bottom-30">
                        <li><i class="fa fa-check"></i> Requires 300mb of free space</li>
                        <li><i class="fa fa-check"></i> 1gb memory</li>
                        <li><i class="fa fa-check"></i> 1ghz processor</li>
                        <li><i class="fa fa-check"></i> Access to the internet</li>
                    </ul>
    -->
                    <a href="https://laptop-updates.brave.com/latest/osx" class="btn cta-button pull-left">Download Brave for Mac OS 10.9+</a>

                </div><!--/end row-->
            </div>
        </div>
        <hr>
        <!--=== End mac ===-->

        <!--=== Linux download ===-->
        <div id="linux" class="container content-sm">
            <div class="row">
                <div class="col-md-6 md-margin-bottom-50">
                    <img class="img-responsive" src="assets/img/contents/linux_braved.jpg" alt="" width="400">
                </div>
                <div class="col-md-6">
                    <div class="headline-left margin-bottom-30">
                        <img class="responsive"  src="assets/img/contents/Linux_icon.png" alt="" width="60">
                        <h2 class="headline-brd">Brave 0.9.dev for Linux</h2>
                        <p>
                            <strong>Brave for Linux comes in two flavors:</strong><br>
                            64 bit .deb for Debian/Ubuntu and 64 bit .rpm for Fedora/openSUSE.<br>
                            Please download the correct installer for your OS.
                        </p>
                    </div>
    <!--
                    <ul class="list-unstyled lists-v2 margin-bottom-30">
                        <li><i class="fa fa-check"></i> Requires 300mb of free space</li>
                        <li><i class="fa fa-check"></i> 1gb memory</li>
                        <li><i class="fa fa-check"></i> 1ghz processor</li>
                        <li><i class="fa fa-check"></i> Access to the internet</li>
                    </ul>
    -->
                    <a href="https://laptop-updates.brave.com/latest/debian64" class="btn cta-button pull-left">Download Brave for Debian/Ubuntu</a>
                    <a href="https://laptop-updates.brave.com/latest/debian64" class="btn cta-button pull-left">Download Brave for Fedora/openSUSE</a>
                    <a href="https://github.com/brave/browser-laptop/blob/master/docs/linuxInstall.md" class="block-link pull-left" target="_blank">View Linux FAQ</a>
                </div><!--/end row-->
            </div>
        </div>
        <hr>
        <!--=== End linux ===-->

        <!--=== iOS download ===-->
        <div id="ios" class="container content-sm">
            <div class="row">
                <div class="col-md-6 md-margin-bottom-50">
                    <img class="img-responsive" src="assets/img/contents/ipad_braved.jpg" alt="" width="450">
                </div>
                <div class="col-md-6">
                    <div class="headline-left margin-bottom-30">
                        <img class="responsive"  src="assets/img/contents/ios_icon.png" alt="" width="60">
                        <h2 class="headline-brd">Brave 1.0 for iOS</h2>
                        <p><strong>Visit the iTunes App Store to download and install Brave 1.0.</p>
                    </div>
                    <ul class="list-unstyled lists-v2 margin-bottom-30">
                        <li><i class="fa fa-check"></i> Requires iOS 8.1 or newer</li>
                        <li><i class="fa fa-check"></i> Works with iPhone and iPad</li>
                    </ul>
                    <a href="https://itunes.apple.com/us/app/brave-web-browser/id1052879175" class="btn cta-button pull-left">Download Brave for iOS</a>
                </div><!--/end row-->
            </div>
        </div>
        <hr>
        <!--=== End iOS ===-->

        <!--=== Android download ===-->
        <div id="android" class="container content-sm">
            <div class="row">
                <div class="col-md-6 md-margin-bottom-50">
                    <img class="img-responsive" src="assets/img/contents/droids_braved.jpg" alt="" width="400">
                </div>
                <div class="col-md-6">
                    <div class="headline-left margin-bottom-30">
                        <img class="responsive"  src="assets/img/contents/android_icon.png" alt="" width="60">
                        <h2 class="headline-brd">Brave Browser 1.9 for Android</h2>
                        <p><strong>Visit the Google Play Store to download and install Brave 1.9.</p>
                    </div>
                    <ul class="list-unstyled lists-v2 margin-bottom-30">
                        <li><i class="fa fa-check"></i> Requires Android Jelly Bean 4.1 or newer</li>
                        <li><i class="fa fa-check"></i> Works with phones and tablets</li>
                    </ul>
                    <a href="https://play.google.com/store/apps/details?id=com.linkbubble.playstore" class="btn cta-button pull-left">Download Brave for Android</a>


                </div><!--/end row-->
            </div>
        </div>
        <!--=== End droid ===-->

{% endblock %}
