{% extends "base.html" %}

{% block title %}Brave Software | Downloads{% endblock %}

{% block mainContent %}

  <div class="page" id="downloads-page">

    <div class="container">
      <ul class="page-submenu">
        <li>
          <a href="#ios">Mobile</a>
        </li>
        <li>
          <a href="#windows">Desktop</a>
        </li>
      </ul>
    </div>

    <div class="container content-md" id="windows">

      <div class="title-v1">
        <h2>Download Brave for Desktop</h2>
      </div>

      <div class="row well">

        <div class="col-md-4">
          <div class="headline-left margin-bottom-30">
            <img alt="Brave for Windows" class="responsive" src="assets/img/contents/windows10-compatible.png" width="60">
            <h2 class="headline">
              Brave 0.9.dev for Windows 7+
            </h2>
            <p>Windows users require either i32 or x64 versions. To find out which version you need, Right-click My Computer, and then click Properties. If "x64 Edition" is listed under System, your processor is capable of running a 64-bit version of Windows. If not, use the 32-bit version.</p>
          </div>
          <a class="btn cta-button" href="https://laptop-updates.brave.com/latest/winia32">Download Brave for
          32-bit</a>
          <a class="btn cta-button" href="https://laptop-updates.brave.com/latest/winx64">Download Brave for
          64-bit</a>
        </div>

        <div class="col-md-4">
          <div class="headline-left margin-bottom-60">
            <img alt="Brave for Mac" class="responsive" src="assets/img/contents/MacOS_large.svg" width="60">
            <h2 class="headline">Brave 0.9.dev for Mac OS</h2>
            <p>To run Brave, you must have Mac OS 10.9 or newer.</p>
          </div><a class="btn cta-button" href="https://laptop-updates.brave.com/latest/osx">Download Brave for Mac OS
          10.9+</a>
        </div>

        <div class="col-md-4">
          <div class="headline-left margin-bottom-30">
            <img alt="Brave for Linux" class="responsive" src="assets/img/contents/Linux_icon.png" width="60">
            <h2 class="headline">
              Brave 0.9.dev for Linux
            </h2>
            <p><strong>Brave for Linux comes in two flavors:</strong><br>
            64 bit .deb for Debian/Ubuntu and 64 bit .rpm for
            Fedora/openSUSE.<br>
            Please download the correct installer for your OS.</p>
          </div>
          <a class="btn cta-button" href="https://laptop-updates.brave.com/latest/debian64">Download Brave for
          Debian/Ubuntu</a>
          <a class="btn cta-button" href="http://laptop-updates.brave.com/latest/fedora64">Download Brave for
          Fedora/openSUSE</a>
          <a class="block-link" href="https://github.com/brave/browser-laptop/blob/master/docs/linuxInstall.md" target="_blank">View Linux FAQ</a>
        </div>

      </div>

    </div>

    <hr>

    <div class="container content-sm" id="ios">

      <div class="title-v1">
        <h2>Download Brave for Mobile</h2>
      </div>

      <div class="row well">

        <div class="col-md-4">
          <div class="headline-left margin-bottom-30">
            <img alt="Brave for iOS" class="responsive" src="assets/img/contents/ios_icon.png" width="60">
            <h2 class="headline">
              Brave for iOS
            </h2>
            <p><strong>Visit the iTunes App Store to download and install Brave.</strong></p>
          </div>
          <ul class="list-unstyled lists-v2 margin-bottom-30">
            <li>
              <i class="fa fa-check"></i>&nbsp;Requires iOS 8.1 or newer
            </li>
            <li>
              <i class="fa fa-check"></i>&nbsp;Works with iPhone and iPad
            </li>
          </ul>
          <strong><a class="btn cta-button" href="https://itunes.apple.com/us/app/brave-web-browser/id1052879175">Download
          Brave for iOS</a></strong>
        </div>

        <div class="col-md-4">
          <div class="headline-left margin-bottom-30">
            <img alt="Brave for Android" class="responsive" src="assets/img/contents/android_icon.png" width="60">
            <h2 class="headline">
              Brave Browser for Android
            </h2>
            <p><strong>Visit the Google Play Store to download and
            install Brave.</strong></p>
          </div>
          <ul class="list-unstyled lists-v2 margin-bottom-30">
            <li>
              <i class="fa fa-check"></i>&nbsp;Requires Android Jelly Bean 4.1 or newer
            </li>
            <li>
              <i class="fa fa-check"></i>&nbsp;Works with phones and tablets
            </li>
          </ul>
          <a class="btn cta-button" href="https://play.google.com/store/apps/details?id=com.linkbubble.playstore">Download Brave for Android</a>
        </div>

      </div>

    </div>
  </div>

{% endblock %}
