{% extends "base.html" %}

{% block title %}Brave Software | Development Timeline{% endblock %}

{% block mainContent %}
 <!--=== header BG ===-->
    <div class="parallax-counter-v3 parallaxBg" style="padding-bottom:20px; padding-left:10px">
        <div class="container">
            <div class="row">
                <div style="text-align:left; font-size:20px">

                </div>
            </div>
        </div>
    </div>
    <!--=== End header BG ===-->
<div style='text-align:center; padding:20px;'>
    <h2>This page has been moved to <a href="https://github.com/brave/browser-laptop/wiki/Brave-Development-Timeline">Github</a>.</h2>
</div>
{% endblock %}
