{% extends "base.html" %}

{% block title %}Brave Software | Building a Better Web{% endblock %}

                        {% block navMenu %}

                            <li class="home">
                                <a href="#faster">Faster</a>
                            </li>
                            <li>
                                <a href="#safer">Safer</a>
                            </li>
                            <li>
                                <a href="#devs">Devs</a>
                            </li>
                            <li>
                                <a href="publishers.html">Publishers</a>
                            </li>
                            <li>
                                <a href="about.html">About</a>
                            </li>
                            <li>
                                <a href="https://blog.brave.com/">Blog</a>
                            </li>
                            <li class="download">
                                <a href="downloads.html">Download</a>
                            </li>

                        {% endblock %}

{% block mainContent %}

    <!--=== Main content ===-->
  
     <!-- Modal Overlay -->
    <div id="brave-overlay" style="display: none;">
        <div class="close"><i></i><i></i></div>
        <div class="clear"></div>
    </div>
    <!-- End Modal Overlay -->

    <!-- Hero Area -->
    <div id="brave-hero">
       <div class="text-group">
           <div class="text-group-logo"></div>
           <h2>Browse faster and safer with Brave.</h2>
           <p>The new Brave browser automatically blocks ads and trackers, making it faster and safer than your current browser.</p>
           <p>Start supporting <a href="publishers.html" target="">publishers</a> today with our new Brave Payments system.</p>
       </div>
       <div class="control-group">
           <button id="brave-download" class="cta-button">Get Brave</button>
           <div class="label"></div>
           <a class="label" href="https://brave.com/downloads.html">Download Brave for another platform</a><BR><BR>
           <a id="brave-video" class="btn cta-button" href="https://www.youtube.com/watch?v=kLiLOkzLetE" target="_blank">Watch the Video</a>
       </div>
    </div>
    <!-- End Hero Area -->

    <!--  Intro Section -->
    <section id="faster" class="about-section section-first">
        <div class="block-v1">
            <div class="container">
                <div class="row content-boxes-v3">
                    <div class="col-md-4">
                        <i class="icon-custom rounded-x icon-bg-orange fa fa-rocket"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">Browse Faster</h2>
                            <p>Brave blocks trackers and intrusive ads that can slow you down on the web.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <i class="icon-custom rounded-x icon-bg-orange fa fa-shield"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">Browse Safer</h2>
                            <p>Brave keeps you and your information safer, effectively shielding you from 3rd party tracking and malvertisement.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <i class="icon-custom rounded-x icon-bg-orange fa fa-btc"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">Browse Better</h2>
                            <p>With Brave, you can choose whether to block ads, see <a href="about_ad_replacement.html">ads that respect your privacy</a> or contribute to sites directly. Either way, you can feel good about helping fund content creators.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  End Intro Section -->

    <!--  Faster Section -->
    <div class="about-image bg-grey">
        <div class="container">
            <div class="title-v1">
                <h1>It's amazing how fast a page loads when you strip away <BR>everything but the real content.</h1>
                <p>Up to a whopping 60% of page load time is caused by the underlying ad technology that loads <BR>into various places each time you hit a page on your favorite news site.<BR> And 20% of this is time spent on loading things that are trying to learn more about you.<br>
               </p>
            </div>
            <div class="title-v1 img-center ">
                <p>Example news page data and load time with tracking allowed and normal ads allowed.</p>
                <img class="img-responsive" src="assets/img/bg/pageload_graph.png" alt="">
                <p>Same page data and load time with tracking <strong>blocked</strong> and normal ads <strong>blocked.</strong></p>
            </div>
            <a id="brave-video" class="btn cta-button" href="https://www.youtube.com/watch?v=kHWf6hRV-GM" target="_blank">View Speed Video</a>
        </div>
    </div>
    <!--  End Faster Section -->

    <!--  Safer Section -->
    <section id="safer">
        <div class="container content-sm">
            <div class="title-v1">
                <h2>Browse Safer with Brave on Your Side</h2>
                <p>At Brave, our goal is to block everything on the web that can cramp your style and compromise your privacy. <br>
                Annoying ads are yesterday's news, and cookies stay in your jar where they belong.</p>
            </div>
            <div class="row">
                <div class="col-md-7 content-boxes-v3">
                    <div class="clearfix margin-bottom-30">
                        <i class="icon-custom icon-md rounded-x icon-bg-orange fa fa-warning"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">Brave blocks harmful advertising</h2>
                            <p>There's a new ad game in town. It's called "Malvertising". The latest display ad technology can install malware on your laptop without your knowledge. But not with Brave watching your back.</p>
                        </div>
                    </div>
                    <div class="clearfix margin-bottom-30">
                        <i class="icon-custom icon-md rounded-x icon-bg-orange fa fa-random"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">Brave redirects sites to HTTPS</h2>
                            <p>We've integrated <a href="https://eff.org/https-everywhere" target="_blank">HTTPS Everywhere</a> into every Brave browser to make sure you are always moving your bits across the safest possible pipe.</p>
                        </div>
                    </div>
                    <div class="clearfix margin-bottom-30">
                        <i class="icon-custom icon-md rounded-x icon-bg-orange fa fa-ban"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">Brave blocks Tracking Pixels and Tracking Cookies</h2>
                            <p>Do you ever get that feeling that someone is watching you when you see an ad for something you bought a few days ago? We make sure you aren't being tracked while you shop online and browse your favorite sites.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  End Safer Section -->

    <!--  Devs Section -->
    <section id="devs">
        <div class="about-image bg-color-grey">
            <div role="presentation" class="orange-triangle"></div>
            <div class="container content-md">
                <div class="title-v1">
                    <h1>Brave is open source!<br>Join us on GitHub and contribute to Brave as we build the web of the future.</h1>
                    <p>We believe in having an open source community. It’s our web and we want to fix it as a team, so everything from our backend to the frontend is open. We are progressing quickly so expect to see new commits on an hourly basis.</p>
                </div>
            </div>
            <div class="container">
                <div id="github-logo" class="pull-left">GitHub</div>
                <div class="content-boxes pull-left">
                    <div class="sm-margin-bottom-40 btn cta-button" data-href="https://github.com/brave/browser-ios">
                        <div class="pull-left" data-href="https://github.com/brave/browser-ios">
                            <span data-href="https://github.com/brave/browser-ios">Brave for iOS</span>
                            <a href="https://github.com/brave/browser-ios">https://github.com/brave/browser-ios</a>
                        </div>
                        <span class="arrow pull-right" data-href="https://github.com/brave/browser-ios">&rarr;</span>
                    </div>
                    <div class="sm-margin-bottom-40 btn cta-button" data-href="https://github.com/brave/browser-android-tabs">
                        <div class="pull-left" data-href="https://github.com/brave/browser-android-tabs">
                            <span data-href="https://github.com/brave/browser-android-tabs">Brave for Android</span>
                            <a href="https://github.com/brave/browser-android-tabs">https://github.com/brave/browser-android-tabs</a>
                        </div>
                        <span class="arrow pull-right" data-href="https://github.com/brave/browser-android-tabs">&rarr;</span>
                    </div>
                    <div class="sm-margin-bottom-40 btn cta-button" data-href="https://github.com/brave/browser-laptop">
                        <div class="pull-left" data-href="https://github.com/brave/browser-laptop">
                            <span data-href="https://github.com/brave/browser-laptop">Brave for OS X / Windows / Linux</span>
                            <a href="https://github.com/brave/browser-laptop">https://github.com/brave/browser-laptop</a>
                        </div>
                        <span class="arrow pull-right" data-href="https://github.com/brave/browser-laptop">&rarr;</span>
                    </div>
                </div>
            </div>
            <div class="heading-sm">
                <h3>
                    <a href="https://github.com/brave/browser-laptop/milestones" target="_blank">View Brave's Development Timeline</a>
                </h3>
            </div>
            <div role="presentation" class="orange-triangle"></div>
        </div>
    </section>
    <!--  End Devs Section -->

    <!-- About Section -->
    <section id="about">
        <div class="container content-md">
            <div class="row col-sm-5 sm-margin-bottom-20">
                <div class="news">
                    <ul class="list-inline posted-info">
                         <li>
                            <a href="https://blog.brave.com/their-connection-your-data/">
                                <strong>March 30th, 2017</strong><br>
                                Their connection, your data.<br>
                            </a>
                        </li>
                         <li>
                            <a href="https://blog.brave.com/link-bubble-update/">
                                <strong>March 11th, 2017</strong><br>
                                Unpublishing Link Bubble<br>
                            </a>
                        </li>
                         <li>
                            <a href="https://blog.brave.com/loading-chrome-extensions-in-brave/">
                                <strong>January 17th, 2017</strong><br>
                                Loading Chrome Extensions in Brave<br>
                            </a>
                        </li>
                        <li>
                            <a href="https://blog.brave.com/introducing-brave-payments/">
                                <strong>September 1, 2016</strong><br>
                                Introducing Brave Payments<br>
                            </a>
                        </li>
                        <li>
                            <a href="https://blog.brave.com/bebraveday/">
                                <strong>April 8, 2016</strong><br>
                                #BeBraveDay<br>
                            </a>
                        </li>
                        <li>
                            <a href="https://blog.brave.com/braves-response-to-the-naa-a-better-deal-for-publishers/">
                                <strong>April 7, 2016</strong><br>
                                Brave's Response to the NAA: A Better Deal for Publishers<br>
                            </a>
                        </li>
<!--
                        <li>
                            <a href="https://blog.brave.com/braves-payment-spec-out-for-developer-input/">
                                <strong>March 31, 2016</strong><br>
                                Brave's Payment Spec Out for Developer Input<br>
                                By Marshall T. Rose and Brendan Eich<br>
                            </a>
                        </li>
                        <li>
                            <a href="https://blog.brave.com/how-brave-works-for-you/">
                                <strong>January 27, 2016</strong><br>
                                How Brave Works For You<br>
                                By Brendan Eich<br>
                            </a>
                        </li>
                        <li>
                            <a href="https://blog.brave.com/how-to-fix-the-web/">
                                <strong>January 20, 2016</strong><br>
                                How to Fix the Web<br>
                                By Brendan Eich<br>
                            </a>
                        </li>
-->
                    </ul>
                </div>
            </div>
            <div class="col-sm-7 news-v3">
                <div class="news-v3-in-sm no-padding">
                    <ul class="list-inline posted-info">
                        <li>Brave Software</li>
                        <li>Posted March 30th, 2017</li>
                    </ul>
                    <h2>Their connection, your data.</h2>
                    <p>Why should users care about privacy, and protecting their data from being collected and sold by third parties? To put it simply, your digital data trail is the evidence of your human presence online. Your data is valuable, private, and most important, it’s yours. You are the owner of your data. This fact is often missed, accidentally or otherwise, when communicating about ad blocking and tracking protection. The ad and marketing industries have created an… 
                    </p>
                        <a class="button blog-button" href="https://blog.brave.com/their-connection-your-data/">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->

    <!--=== End main content ===-->
{% endblock %}