{% extends "base.html" %}

{% block title %}Brave Software | FAQs{% endblock %}

{% block mainContent %}
      <!--=== Content Part ===-->
 <!-- Begin Content -->
    <div class="page container content margin-top-90">
    	<div class="row margin-top-90">
            <div class="margin-top-90">
    			<!-- General Questions -->
                <div class="headline">
                    <h2>Brave Payments : Frequently Asked Questions</h2>
                </div>
                <ul class="panel-group acc-v1 margin-bottom-40" id="faq-list">

                    <li class="panel">
                        <h4 class="panel-title">
                            1. What is Brave Payments?
                        </h4>
                        <p class="panel-body">
                            Brave Payments is our Bitcoin-based micropayments system that can automatically and privately pay your favorite websites. Brave users can now seamlessly reward the sites whose content they value and wish to support, while remaining untracked by anyone, including us at Brave Software, Inc. Brave Payments is currently in beta.
                        </p>

                    </li>
                    
                     <li class="panel">
                        <h4 class="panel-title">
                            3. Do I have to pay Brave to block ads?
                        </h4>
                        <p class="panel-body">
                            No, Brave is a browser that blocks ads by default, and it will always be free. If you can afford to support your top sites, we encourage you to try Brave Payments, but you do not have to pay to use Brave.  
                        </p>
                    </li>

                    <li class="panel">
                        <h4 class="panel-title">
                            3. How do I add my own funds or create an account?
                        </h4>
                        <p class="panel-body">
                            Brave provides you with a free bitcoin wallet (from BitGo) in which you can deposit money from any other bitcoin wallet. If you don’t have a bitcoin wallet, our partnership with Coinbase allows you to add money directly from your credit or debit card at the five dollar per month level. To begin, simply click the “Create Wallet” button. To add money once the wallet is ready, click the “Add Funds” button.  
                        </p>
                    </li>

                    <li class="panel">
                        <h4 class="panel-title">
                            4.  Why do I need a new Bitcoin wallet?
                        </h4>
                        <p class="panel-body">
                            Each user of the Brave Payments system receives a free bitcoin wallet which is required to guarantee your privacy while holding funds for monthly micropayments.
                        </p>

                    </li>

                    <li class="panel">
                        <h4 class="panel-title">
                            5. How do publishers get paid?
                        </h4>
                        <p class="panel-body">
                            Your monthly contribution is split among the sites you visit as you browse. The Brave browser calculates the percentages based on a combination of how many pages you visit and how much time you spend on each site.
                        </p>
                    </li>

                    <li class="panel">
                        <h4 class="panel-title">
                            6. What if a site appears in my list that I prefer not to pay?
                        </h4>
                        <p class="panel-body">
                            Each entry has an “include” switch. You may turn the switch off to exclude a particular web site from receiving a portion of your monthly contribution. This setting will be remembered. 
                        </p>
                        
                    </li>

                    <li class="panel">
                        <h4 class="panel-title">
                            7. Will I be notified when the contributions actually happen?
                        </h4>
                        <p class="panel-body">
                            You will be notified that your contribution was processed on the reconciliation day 30 days after either your last reconciliation day or the creation of your Brave wallet (if this is the first reconciliation). If your Brave wallet balance is less than 90% of your selected monthly contribution, you will receive an alert inviting you to add additional funds.
                        </p>
                    </li>

                    <li class="panel">
                        <h4 class="panel-title">
                            8. Where does my money go if publishers are not part of this program yet?
                        </h4>
                        <p class="panel-body">
                            The contributions for each user, upon reconciliation, is sent to a bitcoin escrow wallet which is securely managed by Brave Software, Inc. When contributions for an individual publisher are equal to about $10.00 USD (in BTC, of course), an email is sent to both the webmaster of the site and the registered domain owner, and the verification process begins.
                        </p>
                    </li>

                    <li class="panel">
                        <h4 class="panel-title">
                            9. How do I collect my payments as a publisher?

                        </h4>
                        <p class="panel-body">
                            When contributions for an individual publisher are equal to about $10.00 USD (in BTC, of course), an email is sent to both the webmaster of the site and the registered domain owner. The email explains how to verify your bitcoin wallet with Brave Software. (If the publisher doesn't already have a bitcoin wallet, the email explains how to create one.)
                        </p>
                        <p class="panel-body">Verification of a bitcoin wallet with Brave Software is a lot like verifying a domain name: Brave Software generates an unpredictable token and the publisher uses that token and their Bitcoin address to construct a TXT record in the DNS that Brave Software verifies.</p>
                    </li>

                    <li class="panel">
                        <h4 class="panel-title">
                            10. What happens if I have money in my Brave wallet and my computer crashes or is stolen or lost?

                        </h4>
                        <p class="panel-body">
                            Your Brave wallet comes with a set of recovery codes. These will be provided in the Advanced Prefs page when your wallet is created. It will be your responsibility to store these codes in a safe place. Neither Brave Software, Inc., nor BitGo, nor anyone else will be able to recover the funds in your Brave wallet if you lose these codes.
                        </p>
                        
                    </li>

                    <li class="panel">
                        <h4 class="panel-title">
                            11. Do I need a Coinbase wallet to use Brave Payments? 
                        </h4>
                        <p class="panel-body">
                            No. You may use any bitcoin wallet to fund your Brave wallet. If you don’t have a bitcoin wallet, the Brave Browser provides a super-easy way of creating a bitcoin wallet using a debit or credit card, just click “Add Funds…” from the Brave Payments preferences page, and then “Buy with Coinbase”.
                        </p>
                    </li>

                    <li class="panel">
                        <h4 class="panel-title">
                            12. How does Brave protect against theft of funds?
                        </h4>
                        
                        <p class="panel-body">
                            Brave servers never have custody of the funds in users’ wallets because we do not have any key to any user’s multi-signature wallet. Take a look at the documentation for the details. Therefore it is not possible for theft of funds from user wallets to happen via attacks against our servers.
                        </p>
                    </li>

                    <li class="panel">
                        <h4 class="panel-title">
                            13. Do I need a Coinbase wallet, or a BitGo wallet, or both?
                        </h4>
                        <p class="panel-body">
                            Your free Brave wallet is provided automatically by BitGo. It currently has no outgoing functionality other than the contribution payments for publisher sites. At your discretion, you can use Coinbase to make a transfer using a debit or credit card.
                        </p>
                    </li>

                    <li class="panel">
                        <h4 class="panel-title">
                            14. How often will Brave remind me to make payments? 
                        </h4>
                        <p class="panel-body">
                            You will only be reminded to add funds when your contribution date is approaching, and only if your Brave wallet balance is less than 90% of your current contribution setting.
                        </p>
                    </li>

                    <li class="panel">
                        <h4 class="panel-title">
                            15. What if I want to stop payments or change my amount, is that easy to do?
                        </h4>
                        <p class="panel-body">
                            You can turn the Brave Payments system on or off at any time using the switch found at the top of the Payments page in the application preferences. You can change the contribution amount at any time via the monthly budget menu in the settings panel. 
                        </p>
                        
                    </li>

                    <li class="panel">
                        <h4 class="panel-title">
                            16. Is all of this really anonymous if you can match up my browser activity to my Coinbase wallet, which has my personal information?
                        </h4>
                        <p class="panel-body">
                            All of this analysis is done without disclosing your identity, over the network via the Anonize protocol and on-device via statistical voting, so that neither Brave Software, Inc., nor any other entity can correlate browsing page views with payments.
                        </p>
                        </li>

                    <li class="panel">
                        <h4 class="panel-title">
                            17. Why does Brave take a 5% cut? Isn't this high compared to the usual credit card fees of 2.5%?
                        </h4>
                        <p class="panel-body">
                            First, credit card interchange fees may appear to total only a bit more than 2%, but due to chargebacks over fraud, merchants pay a heavy hidden fee. Second, our fee has to cover our infrastructure costs or we will not be able to offer Brave Payments to users of the always-free Brave browser. We will endeavour to keep fees as low as possible as we grow and realize economies of scale.
                        </p>
                        
                    </li>

                    <li class="panel">
                        <h4 class="panel-title">
                            18. Why are non-publishers showing up in my list? How is this list different from my history list?
                        </h4>
                        <p class="panel-body">
                            The publisher exclusions list will be curated over time based on Brave user community feedback. If you discover a site that is clearly not a publisher, please submit a request for removal at support@brave.com. Your history list includes all sites that you visit and your Brave Payments list is limited to publisher sites who are able to receive your contribution.
                        </p>
                    </li>

                    <li class="panel">
                        <h4 class="panel-title">
                            19. If you install Brave on 2 different computers, do you get 2 personas for Brave Payments or one?
                        </h4>
                        <p class="panel-body">
                            Currently you will get two personas but in the future, they will be synchronised securely and anonymously between all of your devices.
                        </p>
                    </li>
                      <li class="panel">
                        <h4 class="panel-title">
                            <a href="FAQ.html">view additional Brave FAQs</a>
                        </h4>                       
                    </li>
                </ul>
                <!-- End General Questions -->
    		</div><!--/col-md-9-->
        </div>
    </div>

    <!--=== End main content ===-->
{% endblock %}
