{% extends "base.html" %}

{% block title %}Brave Software | Publishers = Partners{% endblock %}

{% block mainContent %}


       <!--=== Main content ===-->



      <div class="page" id="publishers-page">
        <h1 class="fixed-page-heading invert container">Publishers = Partners</h1>
        <section>
            <div class="container">
                <ul class="page-submenu">

                    <li>
                        <a href="#partner">Become a Partner</a>
                    </li>

                    <li>
                        <a href="#claim">Claim your Wallet</a>
                    </li>
                    <li>
                        <a href="#overview">Overview</a>
                    </li>
                </ul>
            </div>

            <!--  Overview Section -->
            <div id="overview" class="title-v1-L container">
                <div class="row">
                    <div class="col-md-10">
                <h2>You’ve tried everything to get paid for good content. Now there's an easier way. </h2>
                <p>In the good old days, publishers created content and ads paid the way. But Internet ads are quickly becoming yesterday’s news. Ad blocking has grown significantly over the last few years. Now over 500 million people use software to stop ads on their mobile and desktop devices.

</p>
                <p>Without some change, smaller publishers could disappear and larger publishers' staff will continue shrinking. </p>
                <BR>
                <h3>Enter Brave Payments.</h3>
                </div></div>
                <div class="row">
                    <div class="col-md-10">
                        <img src="assets/img/payments_screen_100.png" class="img-rounded img-responsive" alt="Brave Payments Screen" ></div>
                    <div class="col-md-10 flex-items-xs-top">
                        <p>Today, your visitors want minimal ads but you want maximum return for your great content. Brave gives both sides what they want.
                        <p>How does it work? Readers may choose a monthly contribution amount which is divided among the publisher sites they visit most. And as Brave grows, so does your revenue.</p>
                        <p>Here is the best part. Neither the readers nor the publisher need to do anything different. They just keep surfing and you just keep publishing. </p>
                        <p>Well, one small detail... you do need to collect your cash.</p></div></div>

            </div>





        <div class="about-image bg-grey">
                      <!--  claim Section -->
            <div id="claim" class="title-v1-L container"><BR>
                <h2>Claim your publisher contributions. </h2>
                <p>Once a user enables Brave Payments, the Brave browser automatically and anonymously keeps track of the publisher sites each user visits. The more times that a user visits a site, the larger the proportion of the user’s monthly contribution is “ear-marked” for that publisher. These funds grow as new micropayments are added. When contributions for a publisher exceed $100.00 USD, an email is sent to both the webmaster of the site and the registered domain owner from your WHOIS information. The email explains how to verify the ownership of your website with Brave Software.</p><br>


                <p>Brave Software uses a process similar to verifying a domain name to verify publisher sites. Just follow these steps:
                </p>
                <BR>
                <ul>

                <li><strong>Step 1:</strong> Open the email invitation sent from Brave Software to your webmaster. The email is titled "Brave Publisher Invitation" and includes all of the information needed to verify your site.</li><BR>

                <li><strong>Step 2:</strong> The email will direct you to a web page where you will need to confirm your site ownership. The site will guide you through a simple process of uploading a unique text file to your server. This ensures a secure handshake between Brave Software and you - preventing someone else from receiving your payments.</a>
                </li><br>

                <li><strong>Step 3:</strong> After verifying your site, you can view the current funds available for withdrawal. If you are ready to receive your funds, you may verify your wallet and submit the necessary tax forms.</li>

                <br>
                <li><strong>Final Step:</strong> Check your wallet balance frequently, and transfer funds to wherever you choose. It's your money. You earned it!</li>
</ul>
            </div>
            </div>
<!--            <div role="presentation" class="orange-triangle"></div>-->
                        <!--  partner Section -->
<!--
            <div id="register_now" class="title-v1-L container"><BR>
            <h2>Skip the notification process and get registered today.</h2>
                <p>There is no need to wait for your site contribution to exceed 100.00 USD. You can sign up now so that your site is primed and ready for Brave user contributions.</p>
                </div>

           <div class="control-group">
           <button id="brave-download" class="cta-button">Register Now</button>
       </div>
<BR>
-->

            <!--  partner Section -->
            <div id="partner" class="title-v1-L container"><BR>

            <BR>

            <div>

                <h2>Publishers = Partners. We're in this together.</h2>
                <p>A strong percentage of web users want to pay for content and support the Internet. But the Internet moves fast and so do users. The best way for users and publishers to stay in sync is through an anonymous and automated contribution platform. That’s Brave.

</p>
                <p>If you would like to become an official partner of Brave and display an affiliate logo on your site, we would love to have you join us in our quest to save the web.</p>
                <p>Contact our <a href="mailto:publishers@brave.com?subject=Interested in becoming a Brave partner">Partner Manager</a> to get started.</p>

            </div>

        </section>
    </div>


{% endblock %}
