<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title data-l10n-id="welcomeTitle"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <meta name="defaultLanguage" content="en-US">
    <meta name="availableLanguages" content="de, en-US, fr, pl">

    <link rel="localization" href="/assets/locales/{locale}/welcome.properties">

    <meta property="og:title" content="Brave Software" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://brave.com/" />
    <meta property="og:image" content="https://brave.com/assets/img/bg/lion_blackBG.jpg"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/one.style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/assets/plugins/animate.css">
    <link rel="stylesheet" href="/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="stylesheet" href="/assets/css/welcome.css">

    <script defer src="/assets/js/l20n.js"></script>
  </head>

  <body class="welcome-page">
    {% extends "welcome_base.html" %}

    {% block welcomeMasthead %}{{ super() }}{% endblock %}
    {% block welcomeShields %}{{ super() }}{% endblock %}
    {% block welcomeExtensions %}{{ super() }}{% endblock %}
    {% block welcomePublishers %}{{ super() }}{% endblock %}
    {% block welcomeFeatures %}{{ super() }}{% endblock %}
    {% block welcomeAbout %}{{ super() }}{% endblock %}
  </body>
</html>
