{% block welcomeMasthead %}
<header id="masthead" class="section-content">
  <div class="wrapper">
    <h1 class="section-title container-small">Get ready to experience the fastest and safest browser on earth.</h1>
    <div class="container discover">
      <div class="discover-block col-sm-4">
        <img src="assets/img/welcome/import_icon.png" alt="#">
        <h2 class="discover-description">Import your data.</h2>
        <a class="brave-button" href="#">I'm ready.</a>
      </div>
      <div class="discover-block col-sm-4">
        <img src="assets/img/welcome/shields_icon.png" alt="#">
        <h2 class="discover-description">Adjust your shields.</h2>
        <a class="brave-button" href="#">Learn how</a>
      </div>
      <div class="discover-block col-sm-4">
        <img src="assets/img/welcome/extensions_icon.png" alt="#">
        <h2 class="discover-description">Enable your extensions.</h2>
        <a class="brave-button" href="#">Learn more</a>
      </div>
    </div>
    <div class="center-block next-section-link">
      <a href="#">
        <span class="next-section-link-text">and more!</span>
        <span class="scroll-down-arrow"></span>
      </a>
    </div>
  </div>
</header>
{% endblock %}

{% block welcomeShields %}
<section id="shields" class="section-content">
  <div class="wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-5">
          <img src="assets/img/welcome/shields_pointer.png" alt="">
        </div>
        <article class="col-sm-7">
          <div class="shields-text-content">
            <h2>Click the Shields Button</h2>
            <p>Brave shields you from ads and trackers that slow you down and invade your privacy.</p>
            <p>Control your site shields individually for each web site that you visit. Just click on the lion in the top-right.</p>
          </div>
        </article>
      </div>
    </div>
    <aside class="container-fluid">
      <div class="row">
        <div class="col-sm-5">
          <div class="shields-text-content">
            <p class="shields-text-content-one-line">View the truth-telling numbers for each site.</p>
          </div>
        </div>
        <div class="col-sm-7">
          <img src="assets/img/welcome/shields_banner.png" alt="#">
        </div>
      </div>
    </aside>
  </div>
</section>
{% endblock %}

{% block welcomeExtensions %}
<section id="extensions" class="section-content">
  <div class="row offset-style">
    <article class="col-sm-offset-2 col-sm-10 col-xs-12 col-xs-offset-0">
      <h2>Many of your favorite extensions are built right in.</h2>
      <div class="row">
        <div class="col-sm-5 extensions-content">
          <img class="extensions-built-in" src="assets/img/welcome/extensions_group.png" alt="#">
          <p class="extensions-boxed-content">From password managers to pocket, we are integrating the most popular extensions a few at a time. We are adding more with each release, with more flexibility in the future.</p>
          <a href="#" class="brave-button">Manage extensions</a>
        </div>
        <div class="col-sm-7 no-padding">
          <img src="assets/img/welcome/extensions_page.png">
        </div>
      </div>
    </article>
  </div>
</section>
{% endblock %}

{% block welcomePublishers %}
<section id="publishers" class="section-content">
  <div class="wrapper">
    <article class="container container-small">
      <h2 class="title-with-image verified">Help fund the publishers you love, even when you block their ads.</h2>
      <p>With the optional Brave Payments feature, now you can help save the web by giving a little back to the sites you frequent most. It’s even completely automatic.</p>
      <p>Or, if you like to turn your own dials, you can customize how your money flows, site by site.</p>
      <a class="brave-button" href="#">Start using Brave Payments</a>
      <img class="publisher-highlight" src="assets/img/welcome/publishers_feat.png">
    </article>
  </div>
</section>
{% endblock %}

{% block welcomeFeatures %}
<section id="features" class="section-content">
  <div class="wrapper">
    <div class="container container-small">
      <h2>Brave puts a new spin on the infamous browser tab, helping hoarders and pruners alike.</h2>
      <p class="features-description">Visit the application prefs to adjust a few of the tab settings to fit your needs.</p>
      <a class="brave-button" href="#">Edit tab options</a>
      <ul class="features-list list-inline">
        <li class="col-sm-4">
          <img src="assets/img/welcome/feature1.png" alt="#">
          <p>Tab Previews allow for quick glances and better hunting.</p>
        </li>
        <li class="col-sm-4">
          <img src="assets/img/welcome/feature2.png" alt="#">
          <p>Tab Pages give you the big picture and prevent “micro-tab syndrome”. Even change how many are allowed per tab page.</p>
        </li>
        <li class="col-sm-4">
          <img src="assets/img/welcome/feature3.png" alt="#">
          <p>Pinned Tabs are ever present, always there when you need them.</p>
        </li>
        <li class="col-sm-4">
          <img src="assets/img/welcome/feature4.png" alt="#">
          <p>Never lose a tab again with tab-page previewing.</p>
        </li>
        <li class="col-sm-4">
          <img src="assets/img/welcome/feature5.png" alt="#">
          <p>Use Session Tabs to easily manage multiple social accounts.</p>
        </li>
        <li class="col-sm-4">
          <img src="assets/img/welcome/feature6.png" alt="#">
          <p>Private tabs work anywhere, any time.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}

{% block welcomeAbout %}
  <section id="about" class="section-content">
    <div class="wrapper">
      <article class="container container-small">
        <h2 class="title-with-image brave github">Brave is open-source! Help us build the best browser on the planet. Go to <a href="https/github.com/brave/browser-laptop">GitHub.com/brave</a> and open your first pull request today!</h2>
        <p>We love feedback and pride ourselves in creating a product that our users love. If you like Brave, <a href="">let us know</a>.</p>
        <p>If you run into problems, let us know! Stop by the community at <a href="https://community.brave.com">community.brave.com</a>.</p>
      </article>
    </div>
  </section>
{% endblock %}